# Core functionality
openai
sentence-transformers==3.0.1
transformers==4.41.2
fastembed
langchain
langchain-ollama
langsmith
accelerate
bitsandbytes
torch==2.3.1

# Retrieval & Vector DB
elasticsearch
python-dotenv
pandas
scikit-learn
tqdm

# UI / Notebook / CLI
ipykernel
streamlit

# Optional / Extras
groq         # if using Groq API instead of OpenAI :contentReference[oaicite:1]{index=1}
dlt          # for ingesting data in later modules
grafana-api  # for monitoring dashboards, if used
pypdf


## Need to incorporate history properly (use previous user prompts and outputs as context)
## Need to incorporate langchain.
## Need to improve chat interface (put at bottom)
## Need to use firecrawl
